# Web
APP_PASSWORD=change_me
APP_BASE_URL=http://localhost:8787

# Database (Postgres)
POSTGRES_DB=emby_inspector
POSTGRES_USER=emby
POSTGRES_PASSWORD=emby_change_me
DATABASE_URL=postgresql+asyncpg://emby:emby_change_me@db:5432/emby_inspector

# Notifications (optional)
TG_BOT_TOKEN=
TG_CHAT_ID=6260525687
WEBHOOK_URL=

# App
LOG_LEVEL=INFO
TZ=Asia/Shanghai
